<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776664567368-augaqfpeeehj3364ip4c94eal0skck3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776664567368-augaqfpeeehj3364ip4c94eal0skck3e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>776664567368-836p02oc6aculv7949kfolp3rbmqoe1r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0dsETs-5LXxbo4Xr73VzdD3bKg_JEdbE</string>
	<key>GCM_SENDER_ID</key>
	<string>776664567368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackbanglaAdmin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>trackbangla-faef2</string>
	<key>STORAGE_BUCKET</key>
	<string>trackbangla-faef2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776664567368:ios:4992cb54b3cf761d9a127d</string>
</dict>
</plist>